body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: grid;
<<<<<<< HEAD
    place-content: center; 
=======
    place-content: center;
>>>>>>> 63c202db250e2d8be75d247df482dac54cba368e
    font-size: 15px;
}
main {
    text-align: center;
    background-color: white;
    max-width: 280px;
    border-radius: 10px;
    padding: 0 10px;
}
main img {
<<<<<<< HEAD
    width: 270px;
    height: 285px;
    border-radius: 10px;
    margin-top: 15px;
=======
    width: 260px;
    height: 280px;
    border-radius: 10px;
    margin-top: 20px;
>>>>>>> 63c202db250e2d8be75d247df482dac54cba368e
}
.text {
    padding: 10px;
}
main .text h3 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
<<<<<<< HEAD
    margin-top: 0;
}
main .text p {
    color: hsl(220, 15%, 55%);
    padding-bottom: 10px;
}
=======
}
main .text p {
    color: hsl(220, 15%, 55%);
    padding-bottom: 10px;
}
>>>>>>> 63c202db250e2d8be75d247df482dac54cba368e
